Python has a set of built-in math functions, including an extensive math module.
It allows you to perform mathematical tasks on numbers.

In [1]:
import math

In [2]:
x = min(15, 10, 25)   # Minimum No
y = max(35, 10, 25)   # Maximum No

print(x)
print(y)

10
35

In [3]:
x = abs(-7.25) # The abs() function returns the absolute (positive) value of the specified number

print(x)

7.25

In [4]:
x = pow(4, 3)  # Return the value of 4 to the power of 3 (same as 4 * 4 * 4)

print(x)

64

In [5]:
x = math.sqrt(64) # The math.sqrt() method for example, returns the square root of a number

print(x)

8.0

In [6]:
import math

x = math.ceil(1.4)   # The math.ceil() method rounds a number upwards to its nearest integer.
y = math.floor(1.4)  # The math.floor() method rounds a number downwards to its nearest integer.

print(x) # returns 2
print(y) # returns 1

2
1

In [7]:
x = math.pi   # Value of pi  22/7

print(x)

3.141592653589793

In [8]:
a = 4

print(math.factorial(a))   # Factorial 4! = 4*3*2*1

24

In [9]:
a = 20
b = 7

print(math.fmod(a,b))  # Returns the remainder of specified numbers when a number is divided by another number

6.0

In [10]:
x = 7

print(math.isfinite(x))  # Checks whether x is a finite number

True

In [11]:
x = 20

print(math.log(x,10))  # Returns the natural logarithm of a number, or the logarithm of number to base

# Here 10 is a base

1.301029995663981

In [12]:
x = 35

print(math.sin(x))   # Returns a sin value

-0.428182669496151

In [13]:
x = 35

print(math.cos(x))   # Returns a cos value

-0.9036922050915067

In [14]:
x = 35

print(math.tan(x))   # Returns a tan value

0.473814720414451

In [15]:
# Convert degrees values into radians
print(math.radians(180))

3.141592653589793

In [16]:
x = 25

print(math.isnan(x))   # Checks whether x is NaN (not a number)

False

In [17]:
x = 90

print(math.lgamma(x))   #  	Returns the log gamma value of x

313.65282994987905

In [18]:
print(math.e)  # Returns Euler's number   # Constant Value

2.718281828459045

In [19]:
print(math.tau)    # Returns tau

6.283185307179586

In [20]:
x = 180

print(math.sinh(x))  # Returns the hyperbolic sine of x

7.446921003909191e+77

In [21]:
x = 180

print(math.tanh(x))  # Returns the hyperbolic tan of x

1.0

In [22]:
print(math.gcd(26, 12))  # Returns the highest number that can divide two numbers

2