<h3>Python List</h3>

In [24]:
# Creating List

list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]

print(list1)

['hims', 'chau', 'achin', 'Shivam', 'sourabh', 'abhiket']

In [25]:
# Positive Indexing

# Always Remember that indexing will starts from 0.

list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]

print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])
print(list1[5])

hims
chau
achin
Shivam
sourabh
abhiket

In [26]:
# Negative Indexing

# Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]

print(list1[-1])
print(list1[-2])
print(list1[-3])
print(list1[-4])
print(list1[-5])
print(list1[-6])

abhiket
sourabh
Shivam
achin
chau
hims

In [27]:
# Range of Indexes

# You can specify a range of indexes by specifying where to start and where to end the range.

# When specifying a range, the return value will be a new list with the specified items.

# Always remember end range = end range - 1

list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]

print(list1[2:5])

['achin', 'Shivam', 'sourabh']

In [28]:
# All The Elements From 0 to 3
list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]

print(list1[:4])

['hims', 'chau', 'achin', 'Shivam']

In [29]:
# All The Elements Starting From 1 to all
list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]
print(list1[2:5])   # [start: stop: step]
print(list1[:4])
print(list1[1:])
list1[1] = "Tarun"   #replacing member of list
print(list1)

['achin', 'Shivam', 'sourabh']
['hims', 'chau', 'achin', 'Shivam']
['chau', 'achin', 'Shivam', 'sourabh', 'abhiket']
['hims', 'Tarun', 'achin', 'Shivam', 'sourabh', 'abhiket']

In [30]:
# Changing Value in a list at a particular index
list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]

list1[1] = "Tarun"
print(list1)

['hims', 'Tarun', 'achin', 'Shivam', 'sourabh', 'abhiket']

In [31]:
# Loop Through a list using For loop

list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]

for i in list1:
  print(i)

hims
chau
achin
Shivam
sourabh
abhiket

In [32]:
# Check if name exists is list

list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]

if "sourabh" in list1:
  print("Yes Name Exists")

else:
  print("Name Does not exists")

Yes Name Exists

In [33]:
# Checking the Length of a List by using len()

print(len(list1))

6

<h1>Built In Functions </h1>

In [34]:
# 1) append()    i.e add a new value in a list

list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]
list1.append("Vaibhav")
print(list1)

['hims', 'chau', 'achin', 'Shivam', 'sourabh', 'abhiket', 'Vaibhav']

In [35]:
# 2) insert()  i.e add a new value in a list at a particular index

list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]
list1.insert(6,"oscar")
print(list1)

['hims', 'chau', 'achin', 'Shivam', 'sourabh', 'abhiket', 'oscar']

In [36]:
# 3) remove()  i.e remove a particular value by its name

list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]
list1.remove("hims")
print(list1)

['chau', 'achin', 'Shivam', 'sourabh', 'abhiket']

In [37]:
# 4) pop()   i.e it removes element present at a last position

list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]
list1.pop()
print(list1)

['hims', 'chau', 'achin', 'Shivam', 'sourabh']

In [39]:
# 5) del()   i.e removes the element at a specified index  and it also use to delete a whole list

list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]
del(list1[2])
print(list1)

list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]
del(list1)
print(list1)

['hims', 'chau', 'Shivam', 'sourabh', 'abhiket']

NameError: ignored

In [41]:
# 6) clear()   i.e it removes all the elements present in a list and list becomes empty
del(list1)
print(list1)
list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]
list1.clear()
print(list1)

NameError: ignored

In [42]:
# 7) copy()   i.e make a copy of a list

list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]
list2 = list1.copy()
print(list2)

['hims', 'chau', 'achin', 'Shivam', 'sourabh', 'abhiket']

In [43]:
# 8) extend()   i.e to add list1 at the end of list2

list1 = ["x", "y" , "z"]
list2 = [1, 2, 3]

list2.extend(list1)
print(list2)

[1, 2, 3, 'x', 'y', 'z']

In [44]:
# 9) reverse()   i.e reverse the list elements

list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]
list1.reverse()
print(list1)

['abhiket', 'sourabh', 'Shivam', 'achin', 'chau', 'hims']

In [45]:
# 10) sort()    i.e sort the list alphabetically

list1 = ["hims","chau","achin","shivam","sourabh","abhiket"]
list1.sort(reverse=False)     # Here reverse is used to put the elements in descending order after sorting i.e Z-A
print(list1)

['abhiket', 'achin', 'chau', 'hims', 'shivam', 'sourabh']

In [46]:
# Join two list by using (+) operator

list1 = ["hims","chau","achin","Shivam","sourabh","abhiket"]
list2 = [1,2,3,4,5,6]

list3 = list1 + list2
print(list3)

['hims', 'chau', 'achin', 'Shivam', 'sourabh', 'abhiket', 1, 2, 3, 4, 5, 6]

In [47]:
# We can also create a list by using the list constructor.
list1 = list(("Apple", "Mango", "Cherry"))
print(list1)

# Check its type
print(type(list1))

['Apple', 'Mango', 'Cherry']
<class 'list'>

### Tuples
Similar to lists, but cannot be changed once created.
Enclosed in ( )
Eg. x and y co-ordinates - (x, y)

- Tuples are immutable unlike lists.

In [48]:
tup_1 = (1, 2, 3,1)
fruits = ('apple', 'mango', 'cherry')

#### Tuple methods
* index
* count

Other functions which worked on lists do not work on tuples, which is obvious, because tuples can not be modified.

In [49]:
fruits.index('mango')

1

In [50]:
tup_1.count(1)

2

In [51]:
#Tuples can be used for easier assignments
a, b = 1, 2
print(a)
print(b)

1
2

In [52]:
#swapping a and b
a, b  = b, a
print(b)

1

In [54]:
fruits[0] = 'banana'

TypeError: ignored

In [55]:
len(tup_1)

4

In [56]:
#Tuples can be converted to lists
list_from_tup = list(tup_1)
list_from_tup
#you can modify the list now.

[1, 2, 3, 1]

In [57]:
#Tuple members can be accessed the same way as lists (or any iterator)
fruits[2]

'cherry'