## Segment 3 - Removing duplicates

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### Removing duplicates

In [2]:
DF_obj= DataFrame({'column 1':[1,1,2,2,3,3,3],
                   'column 2':['a', 'a','b', 'b', 'c', 'c', 'c'],
                   'column 3':['A', 'A', 'B', 'B', 'C', 'C', 'C']})
DF_obj

   column 1 column 2 column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C
6         3        c        C

In [6]:
DF_obj2 = DataFrame({'column 1':[1,2,1,3,2,3,3],
                   'column 2':['a', 'b', 'a', 'c', 'b', 'c', 'c'],
                   'column 3':['A', 'B', 'A', 'C', 'B', 'C', 'C']})
DF_obj2

   column 1 column 2 column 3
0         1        a        A
1         2        b        B
2         1        a        A
3         3        c        C
4         2        b        B
5         3        c        C
6         3        c        C

In [9]:
DF_obj.duplicated()

0    False
1     True
2    False
3     True
4    False
5    False
6     True
dtype: bool

In [7]:
DF_obj2.duplicated()

0    False
1    False
2     True
3    False
4     True
5     True
6     True
dtype: bool

In [10]:
DF_obj.drop_duplicates()

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C
5         3        c        D

In [8]:
DF_obj= DataFrame({'column 1':[1,1,2,2,3,3,3],
                   'column 2':['a', 'a', 'b', 'b', 'c', 'c', 'c'],
                   'column 3':['A', 'A', 'B', 'B', 'C', 'D', 'C']})
DF_obj

   column 1 column 2 column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        D
6         3        c        C

In [6]:
DF_obj.drop_duplicates(['column 3'])

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C
5         3        c        D