## Segment 1 - Filtering and selecting data

In [ ]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### Selecting and retrieving data
You can write an index value in two forms.
- Label index or
- Integer index

In [ ]:
series_obj = Series(np.arange(8), index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6','row 7', 'row 8'])
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64

In [ ]:
series_obj['row 7']

6

In [ ]:
series_obj[[0, 7]]

row 1    0
row 8    7
dtype: int64

In [ ]:
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)),
                   index=['row 1', 'row 2', 'row 3', 'row 4','row 5','row 6'],
                   columns=['column 1','column 2','column 3','column 4','column 5','column 6'])
DF_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
DF_obj.loc[['row 2', 'row 5'], ['column 5', 'column 2']]

       column 5  column 2
row 2  0.402366  0.437611
row 5  0.421004  0.559053

### Data slicing
You can use slicing to select and return a slice of several values from a data set. Slicing uses index values so you can use the same square brackets when doing data slicing.

How slicing differs, however, is that with slicing you pass in two index values that are separated by a colon. The index value on the left side of the colon should be the first value you want to select. On the right side of the colon, you write the index value for the last value you want to retrieve. When you execute the code, the indexer then simply finds the first record and the last record and returns every record in between them.

In [ ]:
series_obj['row 3': 'row 7']

row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
dtype: int64

### Comparing with scalars
Now we're going to talk about comparison operators and scalar values. Just in case you don't know that a scalar value is, it's basically just a single numerical value. You can use comparison operators like greater than or less than to return true/false values for all records to indicate how each element compares to a scalar value.

In [ ]:
DF_obj < .2

       column 1  column 2  column 3  column 4  column 5  column 6
row 1     False     False     False      True     False      True
row 2     False     False     False     False     False      True
row 3     False     False      True     False     False     False
row 4     False     False     False     False     False     False
row 5     False     False      True     False     False     False
row 6     False     False     False     False     False     False

### Filtering with scalars

In [ ]:
series_obj[series_obj > 6]

row 8    7
dtype: int64

### Setting values with scalars

In [ ]:
series_obj['row 1', 'row 5', 'row 8'] = 8

series_obj

row 1    8
row 2    1
row 3    2
row 4    3
row 5    8
row 6    5
row 7    6
row 8    8
dtype: int64

Filtering and selecting using Pandas is one of the most fundamental things you'll do in data analysis. Make sure you know how to use indexing to select and retrieve records.

Class Exercise:
1) create DF1 having 8*8 size and values varing from 1 to 10
2) replace the values more than 7 with 10. display it at the end

In [ ]:
np.random.seed(25)
df2 = DataFrame(np.random.randint(1,5,size= (8,8))
df2=10*df1
print(df2)

          0         1         2         3         4         5         6  \
0  8.701241  5.822769  2.788389  1.859112  4.111001  1.173755  6.849687
1  5.562293  3.670803  4.023657  1.130407  4.470308  5.854451  1.619851
2  3.260511  6.991862  3.663945  8.363745  4.813429  5.165023  3.830481
3  5.142445  5.590533  0.344498  7.199300  4.210035  4.369351  2.817008
4  6.696123  4.560688  2.898043  5.258190  5.592421  7.452838  8.283463
5  0.771403  6.448621  3.092576  5.242537  9.580923  8.832010  2.954319
6  0.887024  6.417167  1.324206  7.664858  0.767422  3.310438  6.798516
7  6.551461  6.021204  7.190546  4.152192  3.965416  8.251390  7.125518

          7
0  4.376111
1  5.207188
2  9.975409
3  9.002743
4  8.236945
5  5.123760
6  5.092131
7  0.979372